.laptop-tablet-screen,
.laptop-screen,
.tablet-screen {
  display: none;
}

.mobile-screen {
  display: block;
}

h1 {
  font-size: 1.7rem;
}

.page-description {
  font-size: 1rem;
}

.legend {
  font-size: 1rem;
}

.label-questions,
.survey-question,
.quotes {
  font-size: .836rem;
}

.funny-descript {
  font-size: .732rem;
}

.answer,
.bonus-answer {
  font-size: .765rem;
}

.label-questions,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
textarea {
  margin: 0;

}