.laptop-tablet-screen,
  .laptop-screen,
  .tablet-screen {
    display: none;
  }

  .mobile-screen {
    display: block;
  }

  header {
    margin: 0 0 18px 0;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: 500;
  }

  .page-description {
    font-size: .87rem;
    font-weight: 400;
  }

  form {
    width: 100%;
    margin: 0;
  }

  .empty {
    height: 20px;
  }

  .legend {
    font-size: 1rem;
    font-weight: 500;
  }

  .label-questions,
  .survey-question,
  .quotes {
    font-size: .76rem;
    font-weight: 400;
    margin: 0;
    text-align: left;
  }

  .funny-descript {
    font-size: .732rem;
    font-weight: 300;
  }

  .answer,
  .numOfAnswer {
    font-size: .71rem;
    font-weight: 500;
    margin: 10px 0;
  }

  .first .numOfAnswer {
    display: inline;
    margin: 0 5px;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="number"],
  #rating,
  #dropdown,
  #gender {
    height: .786rem;
    width: 100%;
    margin: 4px 0;
  }