@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Raleway:wght@300;400;500;600&display=swap');

/*General styles*/
body {
  background-color: #f4c85d;
  margin: 0;
  font-family: 'Raleway', Arial, sans-serif, system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

.mobile-screen {
  display: none;
}


/*font-styling for elements*/
h1,
.quotes,
legend,
.input-label {
  font-family: 'Oswald', system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header styles*/
header {
  margin: 0;
  padding: 0;
  background-color: #854d27;
  color: #e8e8e9;
  width: 100%;
  border-bottom: solid #0f0404 6px;
}

h1 {
  font-weight: 600;
  font-size: 2.8rem;
  margin: 0;
  text-align: center;
  padding: 0;
  color: #e8e8e9;
}

.page-description {  
  font-size: .875rem;
  padding: 0;
  text-align: center;
  font-weight: 600;
  margin: 0 0 24px 0;
}

/*Form styling*/

form {
  width: 68%;
  margin: 26px auto;
  background-color:  #854d27;
}

fieldset {
  border: none;
  width: 80%;
  margin: 10px auto;
  background-color: #e8e8e9;
  border: ridge 6px #f4c85d;
}

.legend {
  text-align: center;
  font-size: 1.11rem;
  text-align: center;
  margin: 2px 0 12px 0;
  color: #854d27;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
label,
select {
  display: block;
}

.question-set {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.quoteBox {
  width: 52%;
  background-color: #f4c85d;
  color: #854d27;
  margin: 10px auto;
}

.quotes {
  text-align: center;
  font-size: 1rem;
  margin: 4px 0;
  font-weight: 300;
}

cite {
  display: block;
  font-size: .977rem;
  font-weight: 500;
}

.quote-line {
  margin: 0 auto;
  width: 40%;
  border-top: solid 4px #e8e8e9;
  padding: 0;
}