@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

/*General styles*/
body {
  background-color: #f4c85d;
  margin: 0;
  font-family: 'Raleway', Arial, sans-serif, system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

.tablet-screen,
.mobile-screen {
  display: none;
}

/*font-styling for elements*/
h1,
.quotes,
legend,
.label-question,
.survey-question,
#email-label {
  font-family: 'Oswald', system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header styles*/
header {
  margin: 0;
  padding: 0;
  background-color: #854d27;
  color: #e8e8e9;
  width: 100%;
  border-bottom: solid #0f0404 6px;
  color: #e8e8e9;
  margin-bottom: 70px;
}

h1 {
  font-weight: 600;
  font-size: 2.8rem;
  margin: 0 0 8px 0;
  text-align: center;
  padding: 0;
}

.page-description {  
  font-size: .875rem;
  padding: 0;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

/*Form styling*/
form {
  width: 78%;
  margin: 0 auto;
  background-color:  #854d27;
}

.empty {
  height: 50px;
}

.blank {
  height: 68px;
  display: inline;
  width: 20px;
  border: 1px black solid;
  margin: 0;
  visibility: hidden;
}

/*fieldset styles*/
.form-fieldset {
  border: none;
  width: 74%;
  margin: 0 auto;
  background-color: #e8e8e9;
  border: ridge 3px #f4c85d;
  padding: 4px;
}

.legend {
  text-align: center;
  font-size: 1.321rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 12px 0;
  color: #854d27;
}

.funny-descript {
  display: block;
  font-size: .754rem;
  font-family: 'Raleway', Arial;
  color: #0f0404;
  font-weight: 600;
}

/*basic info containers*/
.question-set {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.qs1 {  
  align-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}

.qs2 {
  align-content: flex-start;
  padding: 0 2px 0 2px;
}

.qs3 {
  align-content: center;
}

/*questions and input areas*/
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
label,
select {
  display: block;
}

.label-questions,
.survey-question,
#email-label {
  font-size: 1.15rem;
  letter-spacing: .2px;
  margin-bottom: 10px;
}

.label-question,
.survey-question {
  text-align: center;
}

.numOfAnswer {
  display: block;
  font-size: .872rem;
  font-family: 'Raleway', sans-serif;
}

input[type="email"] {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

#email-label {
  margin-left: 44px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
#gender,
#dropdown {
  border: solid 2px #854d27;
  background-color: #f4c85d;
  color: #0f0404;
}

input:placeholder-shown {
  color: black;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.answer {
  font-size: .949rem;
  color: #854d27;
  font-weight: 600;
  margin-bottom: 4px;
}

#rating {
  color: #854d27;
  border: solid 1px #0f0404;
  margin-left: 36px;
  font-size: .949rem;
  font-weight: 600;
  margin-bottom: 4px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

option.small-answer {
  font-size: .599rem;
}

.bonus-question {
  display: block;
  font-size: 1.5rem;
  color: #854d27;
  text-decoration: underline;
}

.bonus-answer {
  font-size: 1rem;
  font-weight: 500;
  color: #0f0404;
  margin-bottom: 4px;
}

.bonus-answer1 {
  margin-right: 2px;
  color: red;
  font-size: 1rem;
  margin-bottom: 4px;
  font-weight: 600;
}

textarea {
  margin-top: 8px;
  margin-left: 64px;
}

/*quote section*/
.quote-container-div1,
.quote-container-div2,
.quote-container-div3 {
  width: 70%;
  margin: 40px auto;
  padding: 10px;
}

.quote-container-div1 {
  background-color: #f4c85d;
  color: #854d27;
}

.quote-container-div2 {
  background-color: #0f0404;
  color: #f4c85d;
}

.quotes {
  text-align: center;
  font-size: 1.01rem;
  margin: 4px 0;
  font-weight: 300;
}

cite {
  display: block;
  font-size: .947rem;
  font-weight: 500;
}

.quote-line1,
.quote-line2 {
  margin: 0 auto;
  width: 40%;
  padding: 0;
}

.quote-line1 {
  border-top: solid 4px #0f0404;
}

.quote-line2 {
  border-top: solid 4px #e8e8e9;
}

/*Submit Button*/
.submit-button {
  width: 76%;
  font-size: 1.54rem;
  background-color: #0f0404;
  color: #f4c85d;
  border-radius: 10px;
  height: 18%;
  text-align: center;
  margin: 50px 0 0 86px;
  cursor: pointer;
}

.submit-button:hover {
  color: black;
  background-color: #f4c85d;
}