.laptop-screen,
.mobile-screen,
div.blank {
  display: none;
}

.tablet-screen {
  display: block;
}

form,
h1,
.page-description,
.form-div {
  margin: 0;
}

h1,
.page-description {
  text-align: left;
}

.form-fieldset {
  margin: 20px 10px;
}

.question-set {
  display: block;
  margin: 0 0 2px 44px;
  width: 100%;
}

.qs3 {
  margin: 0;
  margin-left: 42px;
}

.label-question,
#email-label {
  text-align: left;
  margin-bottom: 16px;
  font-size: 1.56rem;
}

#email-label {
  margin: 0;
  margin-left: 68px;
}

.quote-container-div1,
.quote-container-div2,
.quote-container-div3 {
  margin: 0 10px;
}

textarea {
  margin: 0;
  margin-left: 28px;
}

.submit-button {
  margin: 0;
  margin-top: 18px;
  margin-left: 24px;
}